.popover-arrow {
  width: 2rem;
  height: 1rem;
  fill: var(--popover_arrow-color);
}

.popover-arrow--warning {
  --popover_arrow-color-warning: #fbf6bd;
  --popover_arrow-color: var(--popover_arrow-color-warning);
}

.popover-arrow--error {
  --popover_arrow-color-error: #ffc1d2;
  --popover_arrow-color: var(--popover_arrow-color-error);
}
