.popover-arrow {
  width: 2rem;
  height: 1rem;
  fill: var(--popover_arrow-fill);
}

.popover-arrow--warning {
  --popover_arrow-fill: #fbf6bd;
}

.popover-arrow--error {
  --popover_arrow-fill: #ffc1d2;
}

.popover-arrow--neutral {
  --popover_arrow-fill: #efefef;
}
