.popover-content {
  --popover_content-box_shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.popover-content--yellow {
  --popover_content-color-background-yellow: #fbf6bd;
  background-color: var(--popover_content-color-background-yellow);
  box-shadow: var(--popover_content-box_shadow);
}

.popover-content--red {
  --popover_content-color-background-red: #ffc1d2;
  background-color: var(--popover_content-color-background-red);
  box-shadow: var(--popover_content-box_shadow);
}

.popover-content--white {
  --popover_content-color-background-white: #ffffff;
  background-color: var(--popover_content-color-background-white);
  box-shadow: var(--popover_content-box_shadow);
}
