.popover-content {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--popover_content-color-background);
}

.popover-content--warning {
  --popover_content-color-background: #fbf6bd;
}

.popover-content--error {
  --popover_content-color-background: #ffc1d2;
}

.popover-content--neutral {
  --popover_content-color-background: #efefef;
}
