.pagination-icon {
  fill: rgb(0, 0, 0);
}

.pagination-icon:not(:last-child) {
  margin-right: 20px;
}

.pagination-icon:hover {
  cursor: pointer;
}

.pagination-icon--disabled {
  fill: rgba(0, 0, 0, 0.4);
  cursor: default !important;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
}

.icon-button {
  background-color: transparent;
  margin: 5px;
  border: none;
}

.description-text {
  margin-right: 64px;
}

.select-pagination {
  margin-right: 25px;
}

/* breakpoints-sm */
@media only screen and (max-width: 540px) {
  .pagination-wrapper {
    display: flex;
    flex-direction: column;
  }
  .pagination-wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .description-text {
    margin-top: 10px;
    margin-right: 30px;
  }
  .select-pagination {
    margin-top: 10px;
    margin-right: 25px;
  }
}
