/* TODO: cannot use css variables in media queries.. Consider using https://github.com/postcss/postcss-custom-media */
/* breakpoints-xs */
@media only screen and (min-width: 0) {
  .panel {
    --panel-top-padding: var(--component-panel-space-padding-top-xs);
    --panel-right-padding: var(--component-panel-space-padding-right-xs);
    --panel-bottom-padding: var(--component-panel-space-padding-bottom-xs);
    --panel-left-padding: var(--component-panel-space-padding-left-xs);
    --panel-content-gap: var(--component-panel-space-padding-gap-horizontal-xs);
    --panel-pointer-width: calc(var(--component-panel-size-icon-xs) / 2);
    --panel-pointer-height: calc(var(--panel-pointer-width) / 2);
    --panel-body-font-size: var(--component-panel-font-size-body-xs);
    --panel-header-font-size: var(--component-panel-font-size-header-xs);
  }
}

/* breakpoints-sm */
@media only screen and (min-width: 540px) {
  .panel {
    --panel-top-padding: var(--component-panel-space-padding-top-md);
    --panel-right-padding: var(--component-panel-space-padding-right-md);
    --panel-bottom-padding: var(--component-panel-space-padding-bottom-md);
    --panel-left-padding: var(--component-panel-space-padding-left-md);
    --panel-content-gap: var(--component-panel-space-padding-gap-horizontal-md);
    --panel-pointer-width: calc(var(--component-panel-size-icon-md) / 2);
    --panel-pointer-height: calc(var(--panel-pointer-width) / 2);
    --panel-body-font-size: var(--component-panel-font-size-body-lg);
    --panel-header-font-size: var(--component-panel-font-size-header-lg);
  }
}

/* TODO: Implement missing breakpoints */

.panel {
  position: relative;
  width: 100%;
  padding-top: 0;
}

.panel--has-pointer {
  padding-top: var(--panel-pointer-height);
}

.panel__pointer {
  position: absolute;
  width: var(--panel-pointer-width);
  height: var(--panel-pointer-height);
  top: 1px; /* slight offset to avoid mini gap between component and pointer */
  left: calc(var(--panel-left-padding) + (var(--panel-pointer-width) / 2));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.panel__content-wrapper--info,
.panel__pointer--info {
  background-color: var(--component-panel-color-background-default);
}

.panel__content-wrapper--success,
.panel__pointer--success {
  background-color: var(--component-panel-color-background-success);
}

.panel__content-wrapper--warning,
.panel__pointer--warning {
  background-color: var(--component-panel-color-background-warning);
}

.panel__content-wrapper {
  display: flex;
  gap: var(--panel-content-gap);
  padding-top: var(--panel-top-padding);
  padding-right: var(--panel-right-padding);
  padding-bottom: var(--panel-bottom-padding);
  padding-left: var(--panel-left-padding);
}

.panel__icon-wrapper {
  display: flex;
  flex: none;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: var(--component-panel-space-text-area-gap-vertical-xs);
}

.panel__header {
  margin: 0;
  font-size: var(--panel-header-font-size);
  /* // TODO: font-weight */
}

.panel__body {
  font-size: var(--panel-body-font-size);
}
