/* breakpoints-xs */
@media only screen and (min-width: 0) {
  .panel {
    --panel-y-padding: var(--component-panel-space-padding-y-xs);
    --panel-x-padding: var(--component-panel-space-padding-x-xs);
    --panel-content-gap: var(--component-panel-space-padding-gap-horizontal-xs);
    --panel-pointer-width: calc(var(--component-panel-size-icon-xs) / 2);
    --panel-pointer-height: calc(var(--panel-pointer-width) / 2);
    --panel-body-font-size: var(--component-panel-font-size-body-xs);
    --panel-header-font-size: var(--component-panel-font-size-header-xs);
  }
}

/* breakpoints-sm */
@media only screen and (min-width: 540px) {
  .panel:not(.panel--mobile-layout) {
    --panel-y-padding: var(--component-panel-space-padding-y-md);
    --panel-x-padding: var(--component-panel-space-padding-x-md);
    --panel-content-gap: var(--component-panel-space-padding-gap-horizontal-md);
    --panel-pointer-width: calc(var(--component-panel-size-icon-md) / 2);
    --panel-pointer-height: calc(var(--panel-pointer-width) / 2);
    --panel-body-font-size: var(--component-panel-font-size-body-lg);
    --panel-header-font-size: var(--component-panel-font-size-header-lg);
  }
}

.panel {
  position: relative;
  width: 100%;
  padding-top: 0;
}

.panel--has-pointer {
  padding-top: var(--panel-pointer-height);
}

.panel__pointer {
  position: absolute;
  width: var(--panel-pointer-width);
  height: var(--panel-pointer-height);
  top: 1px; /* slight offset to avoid mini gap between component and pointer */
  left: calc(var(--panel-x-padding) + (var(--panel-pointer-width) / 2));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.panel__content-wrapper--info,
.panel__pointer--info {
  background-color: var(--component-panel-color-background-default);
}

.panel__content-wrapper--success,
.panel__pointer--success {
  background-color: var(--component-panel-color-background-success);
}

.panel__content-wrapper--warning,
.panel__pointer--warning {
  background-color: var(--component-panel-color-background-warning);
}

.panel__content-wrapper {
  display: flex;
  gap: var(--panel-content-gap);
  padding: var(--panel-y-padding) var(--panel-x-padding);
}

.panel__icon-wrapper {
  display: flex;
  flex: none;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: var(--component-panel-space-text-area-gap-vertical-xs);
}

.panel__header {
  margin: 0;
  font-size: var(--panel-header-font-size);
  font-weight: var(--component-panel-weight-heading);
}

.panel__body {
  font-size: var(--panel-body-font-size);
}
