.button {
  all: initial; /* reset all styles to default, to avoid style overrides/surprises caused by other css (from Design system v1 f.ex) */
  font-family: inherit;
  border: 0;
  font-size: var(--font_size-300);
  height: var(--component-button-size-height-small);
  text-align: center;
  box-sizing: border-box;
  padding: 0 var(--component-button-space-padding-x-small);
  letter-spacing: var(--typography-default-letter-spacing);
  cursor: pointer;
}

.button:focus-visible {
  outline: var(--interactive_components-colors-focus_outline) auto
    var(--border_width-standard);
  outline-offset: var(--border_width-standard);
}

.button:disabled {
  cursor: auto;
  opacity: var(--interactive_components-colors-disabled-opacity);
}

.button--primary {
  background: var(--component-button-filled-primary-color-background-default);
  color: var(--component-button-filled-color-text-all);
}

.button--primary:not(:disabled):hover {
  background: var(--component-button-filled-primary-color-background-hover);
}

.button--secondary {
  background: var(--component-button-outline-primary-color-background-default);
  box-shadow: 0 0 0 var(--component-button-border_width-default)
    var(--component-button-outline-primary-color-border-default) inset;
  color: var(--component-button-outline-primary-color-text-default);
}

.button--secondary:not(:disabled):hover {
  background: var(--component-button-outline-primary-color-background-hover);
}

.button--submit {
  background: var(--component-button-filled-success-color-background-default);
  color: var(--component-button-filled-color-text-all);
}

.button--submit:not(:disabled):hover {
  background: var(--component-button-filled-success-color-background-hover);
}

.button--cancel {
  background: var(--component-button-filled-danger-color-background-default);
  color: var(--component-button-filled-color-text-all);
}

.button--cancel:not(:disabled):hover {
  background: var(--component-button-filled-danger-color-background-hover);
}
