.button {
  all: initial; /* reset all styles to default, to avoid style overrides/surprises caused by other css (from Design system v1 f.ex) */
  font-family: inherit;
  border: 0;
  font-size: var(--font_size-300);
  text-align: center;
  box-sizing: border-box;
  padding: var(--component-button-space-padding-top)
    var(--component-button-space-padding-x)
    var(--component-button-space-padding-bottom);
  letter-spacing: var(--typography-default-letter-spacing);
  cursor: pointer;
}

.button:focus-visible {
  outline: var(--component-button-primary-color-border-focus) auto
    var(--border_width-standard);
  outline-offset: var(--border_width-standard);
}

.button:disabled {
  background: var(--component-button-primary-color-background-disabled);
  color: var(--component-button-primary-color-text-disabled);
  box-shadow: 0px 0px 0px var(--component-button-border_width-default)
    var(--component-button-primary-color-border-disabled) inset;
  cursor: auto;
}

.button:disabled:hover {
  background: var(--component-button-primary-color-background-disabled);
}

.button--primary {
  background: var(--component-button-primary-color-background-default);
  color: var(--component-button-primary-color-text-default);
}

.button--primary:hover {
  background: var(--component-button-primary-color-background-hover);
}

.button--secondary {
  background: var(--component-button-secondary-color-background-default);
  box-shadow: 0px 0px 0px var(--component-button-border_width-default)
    var(--component-button-secondary-color-border-default) inset;
  color: var(--component-button-secondary-color-text-default);
}

.button--secondary:hover {
  background: var(--component-button-secondary-color-background-hover);
}

.button--submit {
  background: var(--component-button-submit-color-background-default);
  color: var(--component-button-submit-color-text-default);
}

.button--submit:hover {
  background: var(--component-button-submit-color-background-hover);
}

.button--cancel {
  background: var(--component-button-cancel-color-background-default);
  color: var(--component-button-secondary-color-text-hover);
}

.button--cancel:hover {
  background: var(--component-button-cancel-color-background-hover);
}
