.altinn-TextArea {
  font-family: inherit;
  font-size: var(--component-checkbox-font_size-sm);
}

.altinn-TextArea--resize-none {
  resize: none;
}

.altinn-TextArea--resize-both {
  resize: both;
}

.altinn-TextArea--resize-horizontal {
  resize: horizontal;
}

.altinn-TextArea--resize-vertical {
  resize: vertical;
}
