.TextArea {
  font-family: inherit;
  font-size: var(--component-input-font_size-default);
}

.TextArea--resize-none {
  resize: none;
}

.TextArea--resize-both {
  resize: both;
}

.TextArea--resize-horizontal {
  resize: horizontal;
}

.TextArea--resize-vertical {
  resize: vertical;
}
