.list {
  padding-left: 0;
  list-style-type: none;
}

.list--solid {
  --component-list-border_top_color: #bcc7cc;
  --component-list-border_top_style: solid;
  --component-list-border_top_width: 0.1rem;
  border-top-color: var(--component-list-border_top_color);
  border-top-style: var(--component-list-border_top_style);
  border-top-width: var(--component-list-border_top_width);
}

.list--dashed {
  --component-list_item_dashed-border-top-width: 0.1rem;
  --component-list_item_dashed-border_top_color: #1eadf7;
  border-top-style: dashed;
  border-top-width: var(--component-list_item_dashed-border-top-width);
  border-top-color: var(--component-list_item_dashed-border_top_color);
}
