.list {
  padding-left: 0;
  list-style-type: none;
  border-top-color: var(--component-list-border_top_color);
  border-top-style: var(--component-list-border_top_style);
  border-top-width: var(--component-list-border_top_width);
}

.list--solid {
  --component-list-border_top_color-solid: #bcc7cc;
  --component-list-border_top_style-solid: solid;
  --component-list-border_top_width-solid: 0.1rem;
  --component-list-border_top_color: var(
    --component-list-border_top_color-solid
  );
  --component-list-border_top_style: var(
    --component-list-border_top_style-solid
  );
  --component-list-border_top_width: var(
    --component-list-border_top_width-solid
  );
}

.list--dashed {
  --component-list-border_top_width-dashed: 0.1rem;
  --component-list-border_top_color-dashed: #1eadf7;
  --component-list-border_top_style-dashed: dashed;
  --component-list-border_top_color: var(
    --component-list-border_top_color-dashed
  );
  --component-list-border_top_style: var(
    --component-list-border_top_style-dashed
  );
  --component-list-border_top_width: var(
    --component-list-border_top_width-dashed
  );
}
