.list{
  --component-list-border_top_color: #BCC7CC;
  --component-list-border_top_style: solid;
  --component-list-border_top_width: 0.1rem;
  border-top-color: var(--component-list-border_top_color);
  border-top-style: var(--component-list-border_top_style);
  border-top-width: var(--component-list-border_top_width);
  padding-left: 0;
  list-style: none;
}
