.popover-panel {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}

.popover-panel__arrow {
  transform: scale(-1);
}

[data-side='left'] .popover-panel__arrow {
  margin-top: -1px;
}

[data-side='right'] .popover-panel__arrow {
  margin-top: -1px;
}

[data-side='bottom'] .popover-panel__arrow {
  margin-top: -1px;
}

[data-side='top'] .popover-panel__arrow {
  margin-top: -1px;
}
