.checkbox-group {
  --description-margin_top: var(--component-field_description-space-top-small);
  --font_size: var(--component-checkbox-font_size-small);
  --gap-x: var(--component-checkbox-group-space-gap-x-small);
  --gap-y: var(--component-checkbox-group-space-gap-y-small);

  border: 0;
  font-size: var(--font_size);
  line-height: var(--typography-default-line-height);
  margin: 0;
  padding: 0;
}

.checkbox-group--compact {
  --description-margin_top: var(--component-field_description-space-top-xsmall);
  --font_size: var(--component-checkbox-font_size-xsmall);
  --gap-x: var(--component-checkbox-group-space-gap-x-xsmall);
  --gap-y: var(--component-checkbox-group-space-gap-y-xsmall);
}

.checkbox-group__legend {
  font-weight: bold;
  padding: 0;
}

.checkbox-group__description {
  color: var(--component-field_description-color-text-default);
  margin-top: var(--description-margin_top);
}

.checkbox-group__list {
  column-gap: var(--gap-x);
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-y);
}

.checkbox-group__list--vertical {
  flex-direction: column;
}

.checkbox-group__list--horizontal {
  flex-direction: row;
}

.checkbox-group__error-message {
  margin-top: var(--gap-y);
}

.checkbox-group--disabled {
  color: var(--component-checkbox-color-text-disabled);
}
