.select {
  --delete_cross_box-border_radius: var(
    --interactive_components-border_radius-normal
  );
  --delete_cross_box-color-hover: var(--colors-red-500);
  --delete_cross_box-size: 25px;
  --delete_cross-clip_path: polygon(
    14.29% 0%,
    50% 35.71%,
    85.71% 0%,
    100% 14.29%,
    64.29% 50%,
    100% 85.71%,
    85.71% 100%,
    50% 64.29%,
    14.29% 100%,
    0% 85.71%,
    35.71% 50%,
    0% 14.29%
  );
  --delete_cross-color: var(--colors-blue-900);
  --delete_cross-color-active: var(--colors-blue-700);
  --delete_cross-color-disabled: #022f5180;
  --delete_cross-color-hover: white;
  --delete_cross-size: 12px;
  --arrow-border_left: 1px solid #022f5180;
  --arrow-color: var(--colors-blue-900);
  --arrow-height_to_width_fraction: calc(8 / 14);
  --arrow-margin_left: 4px;
  --arrow-padding: 6px;
  --arrow-size: 14px;
  --field-height-inside: calc(
    36px - var(--component-input-border_width-default)
  );
  --field-height: 36px;
  --field-width-inside: calc(
    440px - var(--component-input-border_width-default)
  );
  --field-width: 440px;
  --font_size: 16px;
  --interactive_element-cursor: pointer;
  --line-height: 1.5;
  --multiselect_item-background_color: var(--colors-blue-900);
  --multiselect_item-height: 24px;
  --multiselect_item-space_between: 6px;
  --multiselect_item-space_left: 16px;
  --multiselect_item-text_color: white;
  --multiselect_item_delete_cross-color: white;
  --multiselect_items-gap: 4px;
  --multiselect_items-padding: calc(
    (var(--field-height-inside) - var(--multiselect_item-height)) / 2
  );
  --option-background_color-default: transparent;
  --option-background_color-hover: var(--colors-blue-200);
  --option-background_color-selected: var(--colors-blue-300);
  --option-background_color-selected-hover: var(--colors-blue-500);
  --option-border_color: #022f5180;
  --option-border_width: 1px;
  --option-height: 36px;
  --option_list-background_color: white;
  --option_list-border: 1px solid #68707c;
  --option_list-border_radius: var(
    --interactive_components-border_radius-normal
  );
  --option_list-number_of_visible_options: 7;
  --option_list-shadow: 1px 1px 3px #00000040;
  --option-outline-focus: none;
  --option-padding_left: 12px;
  --singleselect_field-padding_left: 12px;

  font-size: var(--font_size);
  line-height: var(--line-height);
}

.select--disabled {
  --interactive_element-cursor: auto;
  opacity: var(--interactive_components-colors-disabled-opacity);
}

.select--expanded {
  --delete_cross-color: var(--delete_cross-color-active);
}

.select:not(.select--expanded) .select__option-list {
  display: none;
}

.select--using-keyboard {
  --option-outline-focus: 2px auto
    var(--interactive_components-colors-focus_outline);
}

.select__field__button {
  background: transparent;
  border: 0;
  cursor: var(--interactive_element-cursor);
  margin: 0;
  padding: 0;
}

.select__field {
  display: inline-flex;
  padding: 0;
}

.select--multiple .select__field,
.select--single .select__field__button {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  min-height: var(--field-height-inside);
  min-width: var(--field-width);
  position: relative;
  width: 100%;
}

.select--single__field__value {
  flex: 1;
  padding-left: var(--singleselect_field-padding_left);
  text-align: left;
}

.select--multiple__field__values {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: var(--multiselect_items-gap);
  padding: var(--multiselect_items-padding);
}

.select__field__arrow-wrapper {
  border-left: var(--arrow-border_left);
  box-sizing: border-box;
  margin-left: var(--arrow-margin_left);
  padding: var(--arrow-padding);
}

.select__field__arrow-wrapper__arrow {
  background-color: var(--arrow-color);
  clip-path: polygon(
    11.72% 9.93%,
    50% 67.28%,
    88.28% 9.93%,
    97.43% 29.13%,
    50% 96.79%,
    2.57% 29.13%
  );
  display: inline-block;
  height: calc(var(--arrow-size) * var(--arrow-height_to_width_fraction));
  width: var(--arrow-size);
}

.select--multiple__field__delete-button {
  height: var(--delete_cross_box-size);
  width: var(--delete_cross_box-size);
  padding: calc((var(--delete_cross_box-size) - var(--delete_cross-size)) / 2);
  border: none;
  border-radius: var(--delete_cross_box-border_radius);
  background: none;
  cursor: var(--interactive_element-cursor);
}

.select--multiple__field__delete-button:disabled {
  cursor: auto;
}

.select--multiple__field__delete-button:hover:not(:disabled) {
  background-color: var(--delete_cross_box-color-hover);
  --delete_cross-color: var(--delete_cross-color-hover);
}

.select--multiple__field__delete-button:disabled {
  --delete_cross-color: var(--delete_cross-color-disabled);
  background-color: transparent;
}

.select--multiple__field__delete-button__cross {
  clip-path: var(--delete_cross-clip_path);
  background-color: var(--delete_cross-color);
  display: inline-block;
  height: var(--delete_cross-size);
  width: var(--delete_cross-size);
}

.select__option-list {
  background-color: var(--option_list-background_color);
  border-radius: var(--option_list-border_radius);
  border: var(--option_list-border);
  box-shadow: var(--option_list-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  width: var(--field-width);
  max-height: calc(
    var(--option-height) * var(--option_list-number_of_visible_options)
  );
  overflow-y: auto;
}

.select__option-list__option {
  background-color: var(--option-background_color-default);
  border-color: var(--option-border_color);
  border-style: solid;
  border-width: var(--option-border_width) 0 0 0;
  box-sizing: border-box;
  cursor: var(--interactive_element-cursor);
  display: inline-block;
  min-height: var(--option-height);
  padding-left: var(--option-padding_left);
  padding-top: calc(
    (var(--option-height) - (var(--font_size) * var(--line-height))) / 2
  );
  text-align: left;
  width: 100%;
}

.select__option-list__option:hover {
  background-color: var(--option-background_color-hover);
}

.select__option-list__option--selected {
  background-color: var(--option-background_color-selected);
}

.select__option-list__option--selected:hover {
  background-color: var(--option-background_color-selected-hover);
}

.select--multiple__option-list__option--focused {
  outline: var(--option-outline-focus);
}
