.card-header--profile-primary-card {
  --component-profile_primary_card_header-height: 4rem;
  --component-profile_primary_card_header-background-color: #022f51;
  height: var(--component-profile_primary_card_header-height);
  background-color: var(
    --component-profile_primary_card_header-background-color
  );
}

.card-header--unstyled {
  display: flex;
}
