.card-header {
  height: var(--component-card_header-height);
  background-color: var(--component-card_header-background-color);
}

.card-header--primary {
  --component-card_header-height: 4rem;
  --component-card_header-background-color: #022f51;
}
