.wrapper {
  align-items: center;
  border-radius: var(--interactive_components-border_radius-normal);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: var(--component-checkbox-font_size-normal);
  gap: var(--component-checkbox-space-gap-normal);
}

.wrapper:not(.wrapper--disabled):not(.wrapper--read-only) {
  cursor: pointer;
}

.checkbox-wrapper {
  display: inline-block;
  height: var(--component-checkbox-size-height-normal);
  position: relative;
  width: var(--component-checkbox-size-width-normal);
}

.checkbox {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.visible-box {
  background-color: var(--component-checkbox-color-background-default);
  border-color: var(--component-checkbox-color-border-default);
  border-radius: var(--interactive_components-border_radius-normal);
  border-style: solid;
  border-width: var(--component-checkbox-border_width-normal);
  box-sizing: border-box;
  height: var(--component-checkbox-size-height-normal);
  left: 0;
  position: absolute;
  top: 0;
  width: var(--component-checkbox-size-width-normal);
}

.visible-box__checkmark {
  background-color: white;
  clip-path: polygon(
    47.10705% 56.50955%,
    30.36925% 38.93615%,
    21.5003% 48.0945%,
    47.10715% 74.537%,
    81.5% 39.15895%,
    72.6305% 29.99975%
  );
  display: inline-block;
  height: 100%;
  width: 100%;
}

.wrapper:not(.wrapper--checked) .visible-box__checkmark {
  display: none;
}

.wrapper--checked:not(.wrapper--disabled):not(.wrapper--error) .visible-box {
  background-color: var(--component-checkbox-color-background-checked);
  border-color: var(--component-checkbox-color-border-checked);
}

.wrapper--error {
  color: var(--component-checkbox-color-text-error);
}

.wrapper--error .visible-box {
  border-color: var(--component-checkbox-color-border-error);
}

.wrapper--error.wrapper--checked .visible-box {
  background-color: var(--component-checkbox-color-border-error);
}

.wrapper:not(.wrapper--disabled):not(.wrapper--read-only):hover {
  color: var(--component-checkbox-color-text-hover);
}

.wrapper:not(.wrapper--disabled):not(.wrapper--checked):hover .visible-box {
  background-color: var(--component-checkbox-color-background-hover);
}

.wrapper:not(.wrapper--disabled):not(.wrapper--error):not(.wrapper--checked):hover
  .visible-box {
  border-color: var(--component-checkbox-color-border-hover);
}

.wrapper--disabled {
  color: var(--component-checkbox-color-text-disabled);
  cursor: default;
}

.wrapper--disabled .visible-box {
  border-color: var(--component-checkbox-color-border-disabled);
}

.wrapper--disabled.wrapper--checked .visible-box {
  background-color: var(--component-checkbox-color-border-disabled);
  border-color: transparent;
}

.wrapper:not(.wrapper--disabled):focus-within {
  outline: 2px solid var(--interactive_components-colors-focus_outline);
  outline-offset: 2px;
}

.wrapper--compact {
  font-size: var(--component-checkbox-font_size-compact);
  gap: var(--component-checkbox-space-gap-compact);
}

.wrapper--compact .checkbox-wrapper,
.wrapper--compact .visible-box {
  height: var(--component-checkbox-size-height-compact);
  width: var(--component-checkbox-size-width-compact);
}

.wrapper--compact .visible-box {
  border-width: var(--component-checkbox-border_width-compact);
}

.wrapper--read-only {
  cursor: auto;
}
