.toggle-button{
  --component-toggle-button-label-font-size: 16px;
}

.toggle-button{
  border-radius: 0px;
  border: none;
  width: 125px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: inherit;
  background-color: var(--colors-neutral-000);
  color: var(--colors-neutral-700);
}

.toggle-button:hover{
  background-color: var(--colors-blue-300);
}

.toggle-button--selected{
  background-color: var(--colors-blue-700);
  border: none;
  color: var(--colors-neutral-000);
}

.toggle-button--selected:hover{
  background-color: var(--colors-blue-700);
}

.toggle-button__label{
  font-size: var(--component-toggle-button-label-font-size);
}

.toggle-button__label--selected{
  color: var(--colors-neutral-000);
}
