.toggle-button-group{
  --toggle-button-group-border-style: solid;
  border-color: var(--component-button-secondary-color-border-default);
  border-width: var(--border-width-standard);
  border-style: var(--toggle-button-group-border-style);
}