/* These values are currently set in our old design system, which is being used in app-frontend.
We need to ensure that our new components look fine with these values set.
In the future, we may want to get rid of these rules.
*/

@import 'https://altinncdn.no/fonts/altinn-din/altinn-din.css';

html {
  font-size: 62.5%;
  font-family: 'altinn-din', sans-serif;
}

body {
  font-size: 1.6rem;
}
