.showcase-container {
  background-color: rgb(168, 168, 168);
  width: 100vw;
  height: 100%;
}

.showcase-container__page-container {
  padding-top: 10rem;
  margin-top: 10rem;
  margin: auto;
  width: 60vw;
  height: 60vh;
}
