.page-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.8rem;
}

@media only screen and (min-width: 0) {
  .page-icon__element {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .page-icon__element {
    width: 40px;
    height: 40px;
  }
}

.page-icon__element--primary {
  fill: white;
}
