.page-header {
  height: var(--component-page_header-height);
  background-color: var(--component-page_header-background-color);
}

.page-header--primary {
  --component-page_header-height: 4rem;
  --component-page_header-background-color: #022f51;
}

.page-header__text {
  color: white;
  font-size: 1.75rem;
}
